[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Curso-NestMS/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Curso-NestMS/products-microservice.git
[submodule "orderss-microservice"]
	path = orderss-microservice
	url = https://github.com/Curso-NestMS/orders-microservice.git
